.workStudyProgram {
  width: 100%;
  height: 100%;
  display: flex;
  float: left;
}
.workStudyProgram .workStudyLeft {
  flex: 1;
}
.workStudyProgram .workStudyLeft image {
  margin: 20rpx;
  margin-top: 10rpx;
  width: 200rpx;
  height: 200rpx;
}
.workStudyProgram .workStudyRight {
  flex: 2;
  margin: 20rpx;
  margin-top: 10rpx;
}
